WcfClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAuction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Auction" nillable="true" type="tns:Auction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuction" nillable="true" type="tns:ArrayOfAuction" />
  <xs:complexType name="Auction">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Finished" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Offerts" nillable="true" type="tns:ArrayOfOffer" />
      <xs:element minOccurs="0" name="StartPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auction" nillable="true" type="tns:Auction" />
  <xs:complexType name="ArrayOfOffer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Offer" nillable="true" type="tns:Offer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOffer" nillable="true" type="tns:ArrayOfOffer" />
  <xs:complexType name="Offer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auction" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OfferId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Offer" nillable="true" type="tns:Offer" />
</xs:schema>